/*
===========================================
Styles for the NavBar.

RED - #C21D28
BLUE - #1566F1
lightGRAY #D7D7DB
YELLOW -  #FECC00;
lightBLUE - #1566F1
===========================================
*/
/*  ««««« FOOD »»»»»  */
/*  ««««« CONTACT »»»»»  */
/*  «««««  »»»»»  */
/*  ««««« HOME »»»»»  */
/** {
  outline: 1px dotted #F3CA40;
}*/

.nav {
  width: 100%;
  height: auto;
  position: inline-block;
}

.navContainer {
  width: 100%;
  height: 90px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-right: 30px;
  background: hsla(200, 3%, 82%, 0.5);
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: inline-block;
  border-top: 1px solid hsla(26, 5%, 28%, 1);
}

.navListItem {
  position: relative;
  display: inline-block;
  color: hsla(26, 5%, 28%, 1);
  margin: 35px;
  text-decoration: none;
}

.navListItem:hover {
  border-bottom: hsla(40, 0%, 100%);
}

.navLink {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.navLink:hover {
  opacity: 0.3;
}

.homeLink {
  font-family: 'Infini';
  color: hsla(26, 5%, 28%, 1);;
  float: left;
  position: relative;
  margin-top: 20px;
}

#loginButtonsContainer {
  float: right;
  margin: 35px 20px 0px 0px;

}

#login-buttons {
  color: hsl(26, 5%, 28%, 1);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

#login-dropdown-list {
  position: relative;

}

.loginButtons div a {

}

.adminLink {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
}


/*  «««««  MOBILE CLASSES  »»»»»  */

/*@media screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .navListItem {
      width: 45%;
      height: 35%;
      margin-bottom: 50px;
      text-align: center;
      display: block;
    }

    .navLink {
      width: 100%;
      font-size: 4rem;
    }

    .loginButtons {
      float: none;
      font-size: 4rem;
    }


  }*/

/*.nav {
  margin-bottom: 20px;
}

.navContainer {

  height: 200px;

  background: #333333;
  border-bottom: 1px solid #11270B;
  margin-bottom: 20px;
  display: inline-block;
}

.navListItem {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  display: inline-block;
  list-style-type: none;
  margin-top: 13px;
  margin-right: 30px;
  margin-left: 0px;
  color: #DEDEDE;
}

.navLink {
  text-decoration: none;
  color: #DEDEDE;
  font-family: 'Infini';
  line-height: 2px;
  font-size: 19px;
}

.navLink:hover {
  color: #DEDEDE;
  opacity: .5;
  border-bottom: 1px solid #DEDEDE;
}

.navLink:visited {
  color: #DEDEDE;
}

.loginButtons {
  float: right;
  color: #DEDEDE;
}*/
