/*
===========================================
Styles for the NavBar.

RED - #C21D28
BLUE - #1566F1
lightGRAY #D7D7DB
YELLOW -  #FECC00;
lightBLUE - #1566F1
PURPS - #59219F;
===========================================
*/
/*  ««««« FOOD »»»»»  */
/*  ««««« CONTACT »»»»»  */
/*  «««««  »»»»»  */
/*  ««««« HOME »»»»»  */
/** {outline: 1px dotted blue}*/
.nav {
  position: absolute;
  top: 32%;
  width: 100%;
}

.navContainer {
  display: inline-block;
  background: none;
  width: 100%;
  padding-left: 35px;
}

.navListItem {
  position: relative;
  display: inline-block;
  background-color: none;
  text-align: center;
  text-decoration: none;
}

.navLink {
  width: 120px;
  height: 45px;
  font-family: 'Infini';
  font-size: 1em;
  color: #112342;
  text-decoration: none;
  border: 2px solid #112342;
  padding-top: 8px;
}
.homeLink:hover {
  border: 2px solid #1566F1; /* BLUE  */
  background: #FECC00; /* YELLOW  */
  color: #fff;
}
.shirtLink:hover {
  border: 2px solid #C21D28; /* RED */
  background: #1566F1; /* BLUE  */
  color: #fff;
}
.calendarLink:hover {
  border: 2px solid #FECC00; /* YELLOW  */
  background: #C21D28; /* RED */
  color: #fff;
}
.contactLink:hover {
  border: 2px solid #C21D28; /* RED */
  background: #59219F; /* PURPS */
  color: #fff;
}

.loginButtons {
  float: right;
  border: none;
  position: relative;
  font-size: 1.5rem;
  right: 150px;
  top: -150px;
}
.loginButtons div a {
    text-decoration: none;
}
/*  «««««««««««««««   SHIRT PAGE NAV BAR CLASSES   »»»»»»»»»»»»»»»  */

.navBarShirtsPage {
  position: absolute;
  top: 35px;
  width: 100%;
}
.navBarShirtsPage .navListItem {
  color: #1566F1;
  /*border: 2px solid #fff;*/
}

.navBarShirtsPage .navLink {
  color: #1566F1;
  border: 2px solid #1566F1;
}

.navBarShirtsPage .loginButtons {
  border: 0px;
  position: relative;
  top: 0;
}

.navBarShirtsPage .homeLink:hover {
  border: 2px solid #1566F1; /* BLUE  */
  background: #FECC00; /* YELLOW  */
  color: #fff; /* BLUE  */
}
.navBarShirtsPage .shirtLink:hover {
  border: 2px solid #FECC00;
  background: #1566F1; /* BLUE  */
  color: #fff;
}
.navBarShirtsPage .calendarLink:hover {
  border: 2px solid #FECC00; /* YELLOW  */
  background: #C21D28; /* RED */
  color: #fff;
}
.navBarShirtsPage .contactLink:hover {
  border: 2px solid #C21D28; /* RED */
  background: #59219F; /* PURPS */
  color: #fff;
}

 /*   ««««««««« NAVBAR CONTACT PAGE  »»»»»»»»»   */

.navBarContactPage {
  position: absolute;
  top: 35px;
  width: 100%;
}
.navBarContactPage .navListItem {
  color: #59219F;
}
.navBarContactPage .navLink {
  color: #59219F;
  border: 2px solid #59219F;
}

.navBarContactPage .homeLink:hover {
  border: 2px solid #1566F1; /* BLUE  */
  background: #FECC00; /* YELLOW  */
  color: #fff; /* BLUE  */
}
.navBarContactPage .shirtLink:hover {
  border: 2px solid #FECC00;
  background: #1566F1; /* BLUE  */
  color: #fff;
}
.navBarContactPage .calendarLink:hover {
  border: 2px solid #FECC00; /* YELLOW  */
  background: #C21D28; /* RED */
  color: #fff;
}
.navBarContactPage .contactLink:hover {
  border: 2px solid #C21D28; /* RED */
  background: #59219F; /* PURPS */
  color: #fff;
}

.navBarContactPage .loginButtons {
  top: 0px;
}


/* ««««««««« NAVBAR CALENDAR PAGE  »»»»»»»»»*/

.navBarCalendarPage {
 position: absolute;
 top: 35px;
 width: 100%;
}
.navBarCalendarPage .navListItem {
 color: #C21D28;
}
.navBarCalendarPage .navLink {
 color: #C21D28;
 border: 2px solid #C21D28;
}

.navBarCalendarPage .homeLink:hover {
 border: 2px solid #1566F1; /* BLUE  */
 background: #FECC00; /* YELLOW  */
 color: #fff; /* BLUE  */
}
.navBarCalendarPage .shirtLink:hover {
 border: 2px solid #FECC00;
 background: #1566F1; /* BLUE  */
 color: #fff;
}
.navBarCalendarPage .calendarLink:hover {
 border: 2px solid #FECC00; /* YELLOW  */
 background: #C21D28; /* RED */
 color: #fff;
}
.navBarCalendarPage .contactLink:hover {
 border: 2px solid #C21D28; /* RED */
 background: #59219F; /* PURPS */
 color: #fff;
}

.navBarCalendarPage .loginButtons {
  top: 0px;
}



/*  «««««  MOBILE CLASSES  »»»»»  */

/*@media screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .navListItem {
      width: 45%;
      height: 35%;
      margin-bottom: 50px;
      text-align: center;
      display: block;
    }

    .navLink {
      width: 100%;
      font-size: 4rem;
    }

    .loginButtons {
      float: none;
      font-size: 4rem;
    }


  }*/

/*.nav {
  margin-bottom: 20px;
}

.navContainer {

  height: 200px;

  background: #333333;
  border-bottom: 1px solid #11270B;
  margin-bottom: 20px;
  display: inline-block;
}

.navListItem {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  display: inline-block;
  list-style-type: none;
  margin-top: 13px;
  margin-right: 30px;
  margin-left: 0px;
  color: #DEDEDE;
}

.navLink {
  text-decoration: none;
  color: #DEDEDE;
  font-family: 'Infini';
  line-height: 2px;
  font-size: 19px;
}

.navLink:hover {
  color: #DEDEDE;
  opacity: .5;
  border-bottom: 1px solid #DEDEDE;
}

.navLink:visited {
  color: #DEDEDE;
}

.loginButtons {
  float: right;
  color: #DEDEDE;
}*/
